/node_modules
/public/hot
/public
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
/.vscode
/.vagrant

.quasar
.DS_Store
.thumbs.db
/dist
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www
yarn-debug.log*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-workspace
