/frontend.quasar
/frontend.DS_Store
/frontend.thumbs.db
/frontendnode_modules
/frontend/dist
/frontend/src-cordova/node_modules
/frontend/src-cordova/platforms
/frontend/src-cordova/plugins
/frontend/src-cordova/www
/frontend/src-bex/www
/frontend/src-bex/js/core
/frontendnpm-debug.log*
/frontendyarn-debug.log*
/frontendyarn-error.log*

#laravel folders/files
/backend/public/css
/backend/public/fonts
/backend/public/img
/backend/public/js
/backend/public/statics
/backend/public/storage
/backend/public/index.html
/backend/storage/*.key
/backend/vendor
/backend/.idea
/backend/.vscode
/backend/.vagrant
/backendHomestead.json
/backendHomestead.yaml
/backendnpm-debug.log
/backendyarn-error.log
/backend.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
